<html>
<body>
    {% for user in index %}
        <h2>User {{ user.id }}, age {{ user.age }} has {{ user.ratings|length }} ratings </h2>
    {% endfor %}

    <p>
    <form action="/add_user">
        <label for="index">Enter new user:</label><br>
        <input type="text" name="age"/>Age <br>
        <input type="text" name="zipcode"/>Zipcode<br>
        <input type="text" name="gender"/>Gender<br>
        <input type="text" name="profession"/>Profession<br>
        <input type="text" name="email"/>E-Mail<br>
        <input type="text" name="password"/>Password<br>
        <input type="submit">
    
    </form>
    </p>

    <p> 
    <form action="/login">
        <label for="login">Login to Rate Movies!:</label><br>
        <input type="text" name="email"/> E-mail <br>
        <input type="text" name="password"/> Password <br>
        <input type="submit">
    </p>
<p>
    <a href="http://localhost:5000/user_list">List All Users </a>

</body>
</html>